* {
    border: 1px solid red;
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, Helvetica, serif;
}

.setting {
    background-color: black;
    display: flex;
    justify-content: center;
}

.container {
    width: 1440px;
}

.top {
    background-color: #1F2937;
    height: 530px;

}

.overview {
    display: flex;
    margin-top: 8%; 
    justify-content: space-between;
}

.internal {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 500px;
    height: 250px;
}

.internal h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: -12px;
}

.overview img {
    width: 515px;
}

.tip {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.overview,
.tip {
    margin-left: 14.5%;
    margin-right: 14.7%
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.tip a,
.overview p {
    font-size: 18px;
    color: #e5e7eb;
}

.tip a {
    text-decoration: none;
}

.directory {
    width: 424px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.internal button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 32px;
    margin-top: -5px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 900;
}

.second-frame {
    background-color: white;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-frame h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 48px;
    margin-bottom: 15px;
}

.image-container {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3.5em;
}

.box {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 4px solid #3882F6;
}